# This needs to be in your server's config somewhere, probably
# the main httpd.conf
# NameVirtualHost *:80

# This line also needs to be in your server's config.
# LoadModule wsgi_module modules/mod_wsgi.so

<IfModule !wsgi_module.c>
    LoadModule wsgi_module modules/mod_wsgi.so
</IfModule>

# XXX You need to set this up!
# Read http://code.google.com/p/modwsgi/wiki/ConfigurationDirectives#WSGISocketPrefix
WSGISocketPrefix run/wsgi

# NOTE: Do not forget to change the port number
# here. And put the final URL of the shim in grafana's
# config.js in place of graphite instance URL
<VirtualHost *:9000>
        # ServerName localhost
        DocumentRoot "/opt/egs/"
        ErrorLog /opt/egs/logs/error.log
        CustomLog /opt/egs/logs/access.log common

 	Header set Access-Control-Allow-Origin "*"

	Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
	Header set Access-Control-Allow-Headers "origin, authorization, accept"
        
	# WSGIDaemonProcess egs python-path=/opt/egs/egs:/opt/rh/python33/root/lib/python3.3/site-packages/
	WSGIDaemonProcess egs python-path=/opt/egs/egs:/usr/lib/python3.4/site-packages/
        WSGIProcessGroup egs
        WSGIApplicationGroup %{GLOBAL}
	WSGIImportScript /opt/egs/egs/egs/wsgi.py process-group=egs application-group=%{GLOBAL}	

	WSGIScriptAlias / /opt/egs/egs/egs/wsgi.py
	Alias /content/ /opt/egs/egs/templates/
		
	<Location "/content/">
		  SetHandler None
		  Order deny,allow
		  Allow from all
	</Location>


	<Directory /opt/egs/egs/egs/>
		<Files wsgi.py>
		   	  Require all granted
		</Files>
	</Directory>

    	<Directory /opt/egs/>
        	   Options All
        	   AllowOverride All
        	   Require all granted
	</Directory>

	<Proxy http://localhost:9200>
	       ProxySet connectiontimeout=5 timeout=90
	</Proxy>

</VirtualHost>
