[Unit]
Description=egs

[Service]
User=root
ExecStart=/usr/bin/python3-gunicorn --bind unix:/run/gunicorn.egs.sock --chdir=/opt/egs/egs/ egs.wsgi:application
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
